# {{ ansible_managed }}

app_mode = production

[server]
protocol = http
http_addr = 127.0.0.1
http_port = 3000
domain =  {{ grafana_public_url | urlsplit('hostname') }}
enforce_domain = false
root_url = {{ grafana_public_url }}

[database]
type = sqlite3
path = grafana.db

[analytics]
reporting_enabled = false
check_for_updates = false

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}
secret_key = {{ grafana_secret_key }}
disable_gravatar = true
cookie_secure = {{ grafana_public_url | urlsplit('scheme') == 'https' | ternary('true', 'false') }}

[snapshots]
external_enabled = false

[dashboards]
versions_to_keep = 20

[users]
allow_sign_up = false
allow_org_create = false
auto_assign_org = true
auto_assign_org_role = Viewer
default_theme = dark
viewers_can_edit = false
editors_can_admin = false

[auth.anonymous]
enabled = true
org_name = {{ grafana_auth_anonymous_org_name }}
org_role = Viewer

[explore]
# Enable the Explore section
;enabled = true

[metrics]
enabled = false
