# {{ ansible_managed }}

[Unit]
Description=Traefik
Documentation=https://docs.traefik.io
Wants=network-online.target
After=network-online.target

[Service]
User={{ traefik_username }}
Group={{ traefik_username }}

ExecStart={{ traefik_path }} --configfile=/etc/traefik/traefik.toml
Type=notify
Restart=always
WatchdogSec=1s

UMask=0027
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
