[Unit]
Description=NLX transaction log cleanup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
Environment=COMPOSE_INTERACTIVE_NO_CLI=1
WorkingDirectory={{ nlx_transaction_log_config_directory }}
ExecStart=/bin/bash -c '/usr/local/bin/docker-compose exec -T postgres psql --username=postgres --dbname=transaction-log --command="$(cat {{ nlx_transaction_log_config_directory }}/cleanup-log.sql)"'

[Install]
WantedBy=multi-user.target
