#!/usr/bin/env bash
set -e

JMETER_DIRECTORY="{{ nlx_benchmark_client_tests_directory }}"

for filename in "${JMETER_DIRECTORY}"/*.jmx; do
  /usr/local/bin/jmeter --nongui --testfile "${filename}"
done
